.u-section-1 .u-sheet-1 {
  min-height: 452px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 252px;
  margin: 36px auto 0;
}

.u-section-1 .u-line-1 {
  width: 422px;
  transform-origin: left center 0px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  margin: 34px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 150px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 592px;
}

.u-section-2 .u-image-1 {
  width: 512px;
  height: 338px;
  margin: 122px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -321px 173px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  margin: 12px 56px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 14px 87px 0 715px;
}

.u-section-2 .u-line-1 {
  width: 165px;
  transform-origin: left center 0px;
  margin: 14px 173px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  text-transform: uppercase;
  margin: 43px 295px 0 auto;
  padding: 8px 30px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  text-transform: uppercase;
  margin: -40px 87px 60px auto;
  padding: 8px 13px 8px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 107px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 338px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 301px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 81px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 29px;
    margin-right: 171px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
    margin-right: 89px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: 84px;
    margin-left: 118px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 15px;
    margin-right: 171px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
    margin-left: 118px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 224px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 85px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 40px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 17px;
  }
} .u-section-3 {
  min-height: 549px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 505px);
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 7.33333px) calc(33.3333% - 7.33333px) calc(33.3333% - 7.33333px);
  min-height: 452px;
  grid-gap: 11px 11px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-3 .u-image-1 {
  height: 144px;
  width: 175px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 18px 43px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 36px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 30px;
}

.u-section-3 .u-image-2 {
  height: 144px;
  width: 175px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 18px 43px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 36px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 13px 30px;
}

.u-section-3 .u-image-3 {
  height: 144px;
  width: 175px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 18px 43px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 36px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 416px);
  }

  .u-section-3 .u-repeater-1 {
    min-height: 373px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 319px);
  }

  .u-section-3 .u-repeater-1 {
    min-height: 857px;
    grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 239px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 37px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 37px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 22px;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 37px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 150px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 15px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 39px;
    margin-left: 36px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-left: 15px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 39px;
    margin-left: 36px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-left: 15px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 39px;
    margin-left: 36px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 900px;
}

.u-section-4 .u-text-1 {
  margin: 71px auto 0 calc(((100% - 1140px) / 2) + 503px);
}

.u-section-4 .u-text-2 {
  margin: 15px auto 0 calc(((100% - 1140px) / 2) + 450px);
}

.u-section-4 .u-line-1 {
  width: 912px;
  margin: 15px auto 0 calc(((100% - 1140px) / 2) + 114px);
}

.u-section-4 .u-slider-1 {
  min-height: 579px;
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-4 .u-image-1 {
  width: 483px;
  height: 483px;
  background-image: url("images/assasin.png");
  background-position: 50% 50%;
  margin: 31px 106px 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: -385px auto 0 359px;
}

.u-section-4 .u-line-2 {
  width: 291px;
  transform-origin: left center 0px;
  margin: 31px auto 0 287px;
}

.u-section-4 .u-video-1 {
  width: 375px;
  height: 211px;
  margin: 13px auto 0 245px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-carousel-item-2 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-4 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-4 .u-image-2 {
  width: 483px;
  height: 483px;
  background-image: url("images/luchador.png");
  background-position: 50% 50%;
  margin: 31px 106px 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: -385px auto 0 329px;
}

.u-section-4 .u-line-3 {
  width: 291px;
  transform-origin: left center 0px;
  margin: 31px auto 0 287px;
}

.u-section-4 .u-video-2 {
  width: 375px;
  height: 211px;
  margin: 13px auto 0 245px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-carousel-item-3 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-4 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-4 .u-image-3 {
  width: 483px;
  height: 483px;
  background-image: url("images/mago.png");
  background-position: 50% 50%;
  margin: 31px 106px 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: -385px auto 0 378px;
}

.u-section-4 .u-line-4 {
  width: 291px;
  transform-origin: left center 0px;
  margin: 31px auto 0 287px;
}

.u-section-4 .u-video-3 {
  width: 375px;
  height: 211px;
  margin: 13px auto 0 245px;
}

.u-section-4 .embed-responsive-3 {
  position: absolute;
}

.u-section-4 .u-carousel-item-4 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-4 .u-container-layout-4 {
  padding: 17px 0;
}

.u-section-4 .u-image-4 {
  width: 483px;
  height: 483px;
  background-image: url("images/soporte.png");
  background-position: 50% 50%;
  margin: 31px 106px 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: -385px auto 0 382px;
}

.u-section-4 .u-line-5 {
  width: 291px;
  transform-origin: left center 0px;
  margin: 31px auto 0 287px;
}

.u-section-4 .u-video-4 {
  width: 375px;
  height: 211px;
  margin: 13px auto 0 245px;
}

.u-section-4 .embed-responsive-4 {
  position: absolute;
}

.u-section-4 .u-carousel-item-5 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-4 .u-container-layout-5 {
  padding: 17px 0;
}

.u-section-4 .u-image-5 {
  width: 483px;
  height: 483px;
  background-image: url("images/tanke.png");
  background-position: 50% 50%;
  margin: 31px 106px 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: -382px auto 0 361px;
}

.u-section-4 .u-line-6 {
  width: 291px;
  transform-origin: left center 0px;
  margin: 28px auto 0 287px;
}

.u-section-4 .u-video-5 {
  width: 375px;
  height: 211px;
  margin: 13px auto 0 245px;
}

.u-section-4 .embed-responsive-5 {
  position: absolute;
}

.u-section-4 .u-carousel-item-6 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-4 .u-container-layout-6 {
  padding: 17px 0;
}

.u-section-4 .u-image-6 {
  width: 483px;
  height: 483px;
  background-image: url("../assets/images/tirador.png");
  background-position: 50% 50%;
  margin: 31px 106px 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: -385px 718px 0 344px;
}

.u-section-4 .u-line-7 {
  width: 291px;
  transform-origin: left center 0px;
  margin: 31px auto 0 287px;
}

.u-section-4 .u-video-6 {
  width: 375px;
  height: 211px;
  margin: 13px auto 0 245px;
}

.u-section-4 .embed-responsive-6 {
  position: absolute;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  padding: 11px;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 15px;
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 415px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 371px);
  }

  .u-section-4 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-carousel-item-1 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -382px;
    margin-left: 159px;
  }

  .u-section-4 .u-line-2 {
    margin-top: 24px;
    margin-left: 87px;
  }

  .u-section-4 .u-video-1 {
    margin-top: 15px;
    margin-left: 45px;
  }

  .u-section-4 .u-carousel-item-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -381px;
    margin-left: 129px;
  }

  .u-section-4 .u-line-3 {
    margin-top: 23px;
    margin-left: 87px;
  }

  .u-section-4 .u-video-2 {
    margin-top: 15px;
    margin-left: 45px;
  }

  .u-section-4 .u-carousel-item-3 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -386px;
    margin-left: 177px;
  }

  .u-section-4 .u-line-4 {
    margin-top: 21px;
    margin-left: 86px;
  }

  .u-section-4 .u-video-3 {
    margin-top: 21px;
    margin-left: 44px;
  }

  .u-section-4 .u-carousel-item-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -382px;
    margin-left: 180px;
  }

  .u-section-4 .u-line-5 {
    margin-top: 15px;
    margin-left: 86px;
  }

  .u-section-4 .u-video-4 {
    margin-top: 26px;
    margin-left: 44px;
  }

  .u-section-4 .u-carousel-item-5 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -380px;
    margin-left: 159px;
  }

  .u-section-4 .u-line-6 {
    margin-top: 15px;
    margin-left: 86px;
  }

  .u-section-4 .u-video-5 {
    margin-top: 26px;
    margin-left: 44px;
  }

  .u-section-4 .u-carousel-item-6 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -382px;
    margin-right: 709px;
    margin-left: 156px;
  }

  .u-section-4 .u-line-7 {
    margin-top: 15px;
    margin-left: 98px;
  }

  .u-section-4 .u-video-6 {
    margin-top: 26px;
    margin-left: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 318px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 284px);
  }

  .u-section-4 .u-line-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: -488px;
    margin-left: auto;
  }

  .u-section-4 .u-line-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-video-1 {
    margin-top: 12px;
    margin-left: 44px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 65px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 48px;
    margin-right: 71px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -519px;
    margin-left: auto;
  }

  .u-section-4 .u-line-3 {
    margin-top: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: -522px;
    margin-left: auto;
  }

  .u-section-4 .u-line-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-video-3 {
    margin-top: 169px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0 65px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: -493px;
    margin-left: auto;
  }

  .u-section-4 .u-line-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-image-5 {
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: -514px;
    margin-left: auto;
  }

  .u-section-4 .u-line-6 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-video-5 {
    margin-top: 575px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-text-8 {
    width: 175px;
    margin-top: -514px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-7 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
    margin-top: 14px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 57px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 57px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 57px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 177px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 57px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 180px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 57px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 57px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 465px;
    margin-left: 174px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 738px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-slider-1 {
    min-height: 434px;
    margin-top: 37px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 4px 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: -354px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 52px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -392px;
  }

  .u-section-4 .u-line-3 {
    margin-top: 10px;
    margin-right: 68px;
  }

  .u-section-4 .u-video-2 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: -396px;
    margin-left: 170px;
  }

  .u-section-4 .u-video-3 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-top: 52px;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: -382px;
    margin-left: auto;
  }

  .u-section-4 .u-video-4 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    height: 340px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: -381px;
  }

  .u-section-4 .u-video-5 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-4 .u-image-6 {
    width: 340px;
    height: 340px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    width: 142px;
    margin-top: -376px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-video-6 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 14px;
  }
} .u-section-5 {
  min-height: 644px;
}

.u-section-5 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 67px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 360px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 222px;
  width: 335px;
  margin: 12px auto 0;
}

.u-section-5 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 19px auto 0 26px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: -32px auto 0 142px;
  padding: 0;
}

.divcampeones{
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-icon-3 {
  width: 33px;
  height: 32px;
  margin: -33px auto 0 84px;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 33px;
  height: 33px;
  margin: -33px 200px 0 auto;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 222px;
  width: 335px;
  margin: 12px auto 0;
}

.u-section-5 .u-icon-5 {
  width: 33px;
  height: 33px;
  margin: 19px auto 0 26px;
  padding: 0;
}

.u-section-5 .u-icon-6 {
  width: 33px;
  height: 33px;
  margin: -32px auto 0 142px;
  padding: 0;
}

.u-section-5 .u-icon-7 {
  width: 33px;
  height: 32px;
  margin: -33px auto 0 84px;
  padding: 0;
}

.u-section-5 .u-icon-8 {
  width: 33px;
  height: 33px;
  margin: -32px 120px 0 auto;
  padding: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  height: 222px;
  width: 335px;
  margin: 12px auto 0;
}

.u-section-5 .u-icon-9 {
  width: 33px;
  height: 33px;
  margin: 19px auto 0 26px;
  padding: 0;
}

.u-section-5 .u-icon-10 {
  width: 33px;
  height: 33px;
  margin: -32px auto 0 142px;
  padding: 0;
}

.u-section-5 .u-icon-11 {
  width: 33px;
  height: 32px;
  margin: -33px auto 0 84px;
  padding: 0;
}

.u-section-5 .u-icon-12 {
  width: 33px;
  height: 33px;
  margin: -32px 120px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 506px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 297px;
  }

  .u-section-5 .u-image-1 {
    height: 175px;
    width: 263px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -31px;
    margin-left: 118px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 59px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: -34px;
    margin-right: 77px;
  }

  .u-section-5 .u-image-2 {
    height: 175px;
    width: 263px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-6 {
    margin-top: -31px;
    margin-left: 118px;
  }

  .u-section-5 .u-icon-7 {
    margin-left: 59px;
  }

  .u-section-5 .u-icon-8 {
    margin-top: -34px;
    margin-right: 77px;
  }

  .u-section-5 .u-image-3 {
    height: 175px;
    width: 263px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-9 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-10 {
    margin-top: -31px;
    margin-left: 118px;
  }

  .u-section-5 .u-icon-11 {
    margin-left: 59px;
  }

  .u-section-5 .u-icon-12 {
    margin-top: -34px;
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 682px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 13px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -35px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: -33px;
    margin-right: 140px;
  }

  .u-section-5 .u-icon-8 {
    margin-top: -35px;
    margin-right: 140px;
  }

  .u-section-5 .u-icon-12 {
    margin-top: -35px;
    margin-right: 140px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 891px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 32px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 717px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 15px;
    margin-left: 188px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -31px;
    margin-right: 285px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 245px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 228px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 15px;
    margin-left: 188px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: -34px;
    margin-right: 285px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-7 {
    margin-left: 245px;
  }

  .u-section-5 .u-icon-8 {
    margin-top: -33px;
    margin-right: 228px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-5 .u-icon-9 {
    margin-top: 15px;
    margin-left: 188px;
  }

  .u-section-5 .u-icon-10 {
    margin-top: -34px;
    margin-right: 285px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-11 {
    margin-left: 245px;
  }

  .u-section-5 .u-icon-12 {
    margin-top: -33px;
    margin-right: 228px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    margin-top: 7px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 748px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 32px;
    margin-left: 87px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: auto;
    margin-left: 152px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 171px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 106px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 32px;
    margin-left: 87px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: -32px;
    margin-right: auto;
    margin-left: 152px;
  }

  .u-section-5 .u-icon-7 {
    margin-right: 171px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-8 {
    margin-top: -32px;
    margin-right: 106px;
  }

  .u-section-5 .u-icon-9 {
    margin-top: 32px;
    margin-left: 87px;
  }

  .u-section-5 .u-icon-10 {
    margin-top: -32px;
    margin-right: auto;
    margin-left: 152px;
  }

  .u-section-5 .u-icon-11 {
    margin-right: 171px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-12 {
    margin-top: -32px;
    margin-right: 106px;
  }
  
}

.modal:target .content-modal{
  top: 50px;
  transition: top 0.35s ease;
}

